.next
node_modules
.env
.env.local
__pycache__/
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store

# TypeScript incremental build cache
*.tsbuildinfo
node_modules
backend/state/
